@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
html {
  scroll-behavior: smooth;
}
nav {
    width: 100%;
    height: 60px;
    background-image: -webkit-linear-gradient(346deg, rgba(40, 75, 0, 1.00) 0%, rgba(253, 205, 205, 1.00) 100%);
    background-image: -moz-linear-gradient(346deg, rgba(40, 75, 0, 1.00) 0%, rgba(253, 205, 205, 1.00) 100%);
    background-image: -o-linear-gradient(346deg, rgba(40, 75, 0, 1.00) 0%, rgba(253, 205, 205, 1.00) 100%);
    background-image: linear-gradient(104deg, rgba(40, 75, 0, 1.00) 0%, rgba(253, 205, 205, 1.00) 100.00%);
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 8px 28px 1px;
    box-shadow: 0px 8px 28px 1px;
    border-radius: 0px;
    visibility: inherit;
    opacity: 0.9;
    margin-top: -4px;
    padding-left: 4px;
    margin-left: -5px;
    position: fixed;
	z-index: 1000;
}
.title h3 {
    font-size: 25px;
    color: hsla(0, 0%, 84%, 0.88);
    font-weight: 900;
    margin-left: 30px;
    padding-left: 9px;
    text-shadow: 3px 3px hsla(0, 0%, 0%, 1.00);
    padding-right: 0px;
    line-height: 14px;
}
.menu ul li {
    display: inline;
    margin-right: 17px;
    line-height: 40px;
}
.menu a:link {
  color: hsla(289, 52%, 38%, 1.00);
  text-decoration: none;
  text-shadow: 1px 1px 4px hsla(0, 83%, 45%, 1.00);
}
.menu a:visited {
    color: hsla(0, 0%, 90%, 1.00);
    text-shadow: 1px 1px 10px hsla(359, 79%, 40%, 1.00);
}
.menu a:hover {
  text-decoration: overline;
  color: hsla(58, 84%, 60%, 1.00);
  text-shadow: 1px 1px 6px hsla(234, 76%, 43%, 1.00);
}
ul li .material-icons {
    color: hsla(197,68%,22%,1.00);
    border-style: dotted;
    border-color: hsla(0,0%,0%,1.00);
    padding-top: 0px;
    padding-bottom: 0px;
}

header {
    width: 100%;
    height: 89vh;
    background-image: url(6b0c2fb9.jpg);
    background-size: cover;
    background-position: 0% 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* [disabled]border-color: hsla(0,0%,0%,1.00); */
    margin-top: 5px;
}
header h1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 0px 0px 9px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 90px;
}
header p a:link {
    line-height: 70px;
    font-weight: 400;
    background-color: hsla(113, 63%, 19%, 1.00);
    color: hsla(359, 87%, 85%, 1.00);
    font-size: 17px;
    text-decoration: none;
    border-radius: 20px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    text-shadow: 0px 0px 1px;
    border: thick double hsla(67, 88%, 71%, 1.00);
    visibility: visible;
    opacity: 1;
    position: relative;
    top: -85px;
    right: -35px;
}
header p a:visited {
    line-height: 70px;
    font-weight: 400;
    background-color: hsla(113, 63%, 19%, 1.00);
    color: hsla(359, 86%, 71%, 1.00);
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    text-shadow: 0px 0px 1px;
    border: thick double hsla(67, 88%, 71%, 1.00);
    visibility: visible;
    opacity: 1;
    top: -85px;
    right: -35px;
    position: relative;
}
header p a:hover {
    line-height: 70px;
    font-weight: 400;
    background-color: hsla(359,87%,85%,1.00);
    color: hsla(112,65%,19%,1.00);
    font-size: 17px;
    text-decoration: none;
    border-radius: 20px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    text-shadow: 0px 0px 1px;
    border: thick double hsla(67, 88%, 71%, 1.00);
    visibility: visible;
    opacity: 1;
    position: relative;
    top: -85px;
    right: -35px;
}


article {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,205,242,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,205,242,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,205,242,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,205,242,1.00) 100%);
    margin-top: 5px;
}
article h3 {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px hsla(359,73%,60%,1.00);
    font-weight: 700;
    margin-bottom: 20px;
}

.container1 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-weight: 700;
    align-content: center;
}
.container1 .left {
    flex: 1;
    font-size: 17px;
    margin-right: 10px;
    background-color: hsla(0,0%,72%,0.48);
    border-radius: 19px;
    color: hsla(0,0%,9%,1.00);
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    -webkit-box-shadow: 4px 4px hsla(0,0%,44%,1.00);
    box-shadow: 4px 4px hsla(0,0%,44%,1.00);
	-webkit-transition: all 700ms ease-in-out 0ms;
    -o-transition: all 700ms ease-in-out 0ms;
    transition: all 700ms ease-in-out 0ms;
}
.container1 .left :hover{
    transform: rotate(2deg) translateX(25px);
    text-shadow: 0px 0px;
}
.container1 .right {
    flex: 1;
    margin-left: 5px;
    -webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
	
}
.container1 .right img {
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px hsla(0,0%,46%,1.00);
    box-shadow: 4px 4px hsla(0,0%,46%,1.00);
    border-style: solid;
	-webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}


main article h5 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    text-shadow: 0.3px 0.3px;
}	
.no {
    background-color: hsla(273,73%,43%,1.00);
    border-radius: 160px;
    color: hsla(0,0%,100%,1.00);
    margin-left: auto;
    margin-right: auto;
}

main article p {
    text-align: center;
    font-weight: 500;
    text-shadow: 0.3px 0.3px;
}
.course4 p {
    font-size: 20px;
}

.container3 {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 290px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.container3 .col1 {
    flex: 1;
    background-image: url(nhk_koushiki.jpg);
    background-size: contain;
    background-position: center center;
    padding-top: 44px;
    padding-right: 44px;
    padding-bottom: 44px;
    padding-left: 44px;
    width: auto;
    border-radius: 10px;
    border-style: solid;
    border-color: hsla(0,0%,0%,1.00);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    -webkit-box-shadow: 5px 5px hsla(0,0%,58%,1.00);
    box-shadow: 5px 5px hsla(0,0%,58%,1.00);
    height: 185px;
	
}
.container3 .col2 {
    flex: 1;
    background-image: url(origin.jpg);
    background-position: center center;
    background-size: contain;
    padding-top: 23px;
    padding-right: 23px;
    padding-bottom: 23px;
    padding-left: 23px;
    border-radius: 10px;
    border-style: solid;
    border-color: hsla(0,0%,0%,1.00);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
    -webkit-box-shadow: 5px 5px hsla(0,0%,50%,1.00);
    box-shadow: 5px 5px hsla(0,0%,50%,1.00);
}
.container3 .col3 {
    flex: 1;
    background-image: url(05-%E4%B9%83%E6%9C%A8%E5%9D%8246-.jpg);
    background-size: contain;
    background-position: center center;
    padding-top: 33px;
    padding-right: 33px;
    padding-bottom: 33px;
    padding-left: 33px;
    border-radius: 10px;
    border-style: solid;
    border-color: hsla(0,0%,0%,1.00);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    -webkit-box-shadow: 5px 5px hsla(0,0%,48%,1.00);
    box-shadow: 5px 5px hsla(0,0%,48%,1.00);
    display: flex;
    align-items: flex-end;
}

.container3 .colT  {
    color: hsla(0,0%,100%,1.00);
    background-color: hsla(0,0%,0%,1.00);
    text-align: center;
    height: 30px;
    opacity: 0;
    line-height: 30px;
    margin-top: 203px;
    min-width: 100px;
    margin-left: -46px;
    margin-right: -46px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	-webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}
.container3 .colS  {
    min-width: 100%;
    height: 30px;
    color: hsla(0,0%,100%,1.00);
    background-color: hsla(0,0%,0%,1.00);
    line-height: 30px;
    opacity: 0;
    margin-bottom: -25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    right: 21px;
    display: list-item;
    padding-right: 50px;
    margin-left: -4px;
    text-align: center;
	-webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}

.container3 .colZ {
    color: hsla(0,0%,100%,1.00);
    background-color: hsla(0,0%,0%,1.00);
    height: 30px;
    min-width: 100%;
    text-align: center;
    line-height: 30px;
    opacity: 0;
    margin-bottom: -35px;
    margin-left: -35px;
    padding-right: 0px;
    padding-left: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
	-webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}
.col1:hover .colT{
	opacity: 0.8;
}
.col2:hover .colS{
	opacity: 0.8;
}
.col3:hover .colZ{
	opacity: 0.8;
}

.container4 {
    width: 83%;
    height: 280px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.sa {
    background-color: hsla(130,85%,21%,1.00);
    color: hsla(0,0%,87%,1.00);
    border-radius: 17px;
}

.container4 .col1 {
    flex: 1;
    background-image: url(3rd_Anniversary_Live.jpg);
    background-position: center center;
    background-size: contain;
    border-radius: 10px;
    border-style: solid;
    border-color: hsla(0,0%,0%,1.00);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
    -webkit-box-shadow: 5px 5px hsla(0,0%,47%,1.00);
    box-shadow: 5px 5px hsla(0,0%,47%,1.00);
}
.container4  .wr {
    background-color: hsla(0,0%,0%,1.00);
    color: hsla(0,0%,100%,1.00);
    height: 30px;
    text-align: center;
    line-height: 30px;
    min-width: 100%;
    margin-bottom: -3px;
    padding-right: 4.5px;
    padding-left: 0px;
    margin-left: -2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    opacity: 0;
	-webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}


.container4 .col2 {
    flex: 1;
    background-image: url(20220521sakuraofi023.jpg);
    background-position: center center;
    background-size: contain;
    border-radius: 10px;
    border-style: solid;
    border-color: hsla(0,0%,0%,1.00);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    -webkit-box-shadow: 5px 6px hsla(0,0%,47%,1.00);
    box-shadow: 5px 6px hsla(0,0%,47%,1.00);
    display: flex;
    align-items: flex-end;
}
.container4 .wr2 {
    min-width: 100%;
    color: hsla(0,0%,100%,1.00);
    background-color: hsla(0,0%,0%,1.00);
    height: 30px;
    text-align: center;
    line-height: 30px;
    opacity: 0;
    margin-bottom: -4px;
    margin-left: -2.5px;
    padding-right: 4.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	-webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}

.container4 .col3 {
    flex: 1;
    background-image: url(xhu5ol7qldwxgbq2gha2pm8uu8wnj1rgua_1mui64b8-1.jpg);
    background-position: center center;
    background-size: contain;
    border-radius: 10px;
    margin-left: 5px;
    border-style: solid;
    border-color: hsla(0,0%,0%,1.00);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 5px 5px hsla(0,0%,47%,1.00);
    box-shadow: 5px 5px hsla(0,0%,47%,1.00);
    display: flex;
    align-items: flex-end;
}
.container4 .wr3 {
    color: hsla(0,0%,100%,1.00);
    background-color: hsla(0,0%,0%,1.00);
    height: 30px;
    min-width: 100%;
    text-align: center;
    line-height: 30px;
    opacity: 0;
    margin-bottom: -3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	-webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}

.col1:hover .wr{
	opacity: 0.8;
}
.col2:hover .wr2{
	opacity: 0.8;
}
.col3:hover .wr3{
	opacity: 0.8;
}
.course {
    border-radius: 15px;
    padding-top: 70px;
    border-style: solid;
}
.course2 {
    border-radius: 15px;
    padding-top: 70px;
}
.course3 {
    border-radius: 15px;
    padding-right: 0px;
    padding-top: 70px;
    border-style: solid;
}
.course4 {
    border-style: solid;
    border-radius: 15px;
    padding-top: 70px;
}
.course5 p iframe {
    border-radius: 10px;

}
.course3 p iframe {
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px hsla(0,0%,46%,1.00);
    box-shadow: 4px 4px hsla(0,0%,46%,1.00);
    border-style: solid;
}





.container7 {
    width: 94%;
    margin-right: auto;
    margin-left: auto;
    height: 980px;
    flex-wrap: wrap;
    padding-top: 70px;
    margin-top: -60px;
}

.course4 p {
    text-align: center;
    text-decoration: none;
    background-color: hsla(241,69%,22%,1.00);
    color: hsla(0,0%,100%,1.00);
    height: 30px;
    border-radius: 26px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.container7 img {
    margin-top: 5px;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-left: 4px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px hsla(0,0%,45%,1.00);
    box-shadow: 2px 2px hsla(0,0%,45%,1.00);
    border-style: solid;
}
.course6 {
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 0px;
    background-image: url(FSztnT3aQAE-vFj.jpg);
    background-position: center center;
    background-size: cover;
}
body footer {
    background-color: hsla(0,0%,16%,1.00);
    text-align: center;
    color: hsla(0,0%,100%,1.00);
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
    border-color: hsla(0,0%,100%,1.00);
    border-style: solid;
}
.course3 h5 .no2 {
    margin-left: auto;
    margin-right: auto;
    color: hsla(0,0%,100%,1.00);
    background-color: hsla(273,73%,43%,1.00);
    border-radius: 27px;
}
.course3 h5 .sa2 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 25px;
    background-color: hsla(130,85%,21%,1.00);
    color: hsla(0,0%,100%,1.00);

}
.course6 a:link  {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background-size: cover;
    font-weight: 500;
    color: hsla(245,61%,52%,1.00);
    text-decoration: none;
    background-color: hsla(359,76%,73%,1.00);
    border-radius: 10px;
    border-style: dotted;
    
}
.course6 a:hover {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background-size: cover;
    font-weight: 500;
    color: hsla(356,60%,75%,1.00);
    text-decoration: underline;
    background-color: hsla(273,23%,36%,1.00);
    border-style: dotted;
    
}
.course6 a:visited {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background-size: cover;
    font-weight: 500;
    color: hsla(0,0%,100%,1.00);
    background-color: hsla(278,63%,17%,1.00);
    border-style: dotted;
    
}

.course6 div {
    color: hsla(0,0%,97%,1.00);
}
nav a {
    -webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}
header p a {
    -webkit-transition: all 500ms ease-in-out 0ms;
    -o-transition: all 500ms ease-in-out 0ms;
    transition: all 500ms ease-in-out 0ms;
}
.wr3 {
}
.container2 {
    display: flex;
    width: 100%;
}

.container2 .left {
    flex: 1;
    border-style: solid;
    border-radius: 10px;
    padding-right: 0px;
    background-color: #234E4D;
    margin-right: 5px;
    -webkit-box-shadow: 2px 2px #737373;
    box-shadow: 2px 2px #737373;
}

.container2 .right {
    flex: 1;
    border-style: solid;
    border-radius: 10px;
    background-color: #234E4D;
    margin-left: 5px;
    -webkit-box-shadow: 2px 2px #737373;
    box-shadow: 2px 2px #737373;
}

 
.container2 .middle {
    flex: 1;
    -webkit-text-stroke: 0.7px white;
    color: black;
    font-size: 19px;
    line-height: 87%;
    background-image: url(12355.png);
    background-position: center center;
    background-size: cover;
    border-style: solid;
    border-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px #7B7B7B;
    box-shadow: 2px 2px #7B7B7B;
    border-radius: 10px;
}
.course4 .container7 .wow.fadeInDown {
	-webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
}
.course4 .container7 .wow.fadeInDown:hover {
	width: 377px;
    height: 350px;
}
.course4 .container7 .wow.fadeInUp {
	-webkit-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
    margin-right: auto;
    margin-left: auto;
}
.course4 .container7 .wow.fadeInUp:hover {
	transform: rotate(360deg);
}
